#assessments {
    max-width: 136rem;
    width: 100%;
    margin-bottom: 12em;

    #assessments__options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6em;

        #assessments__title {
            @include text-setting( 5.2em, 1em, var(--title-color), 600 )
        }

        #assessments__controller {
            display: flex;
            justify-content: space-between;
            width: 20em;

            .assessments__arrow {
                width: 8em;
            }
        }
    }

    #assessments__comments-container {
        overflow: hidden;

        #assessments__comments {
            transition: transform .7s ease-out;
            display: flex;
            justify-content: center;

            .assessments__comment {
                flex-shrink: 0;
                width: 66em;
                height: 36.5em;
                
                padding: 3.2em;
                border-radius: 2em;
    
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                &:nth-child(-n+5) {
                    margin-right: 4em;
                }
    
                .assessments__stars-icon {
                    width: 24em;
                    flex-shrink: 0;
                    margin-bottom: 3.2em;
                }
    
                .assessments__text {
                    @include text-setting( 3em, 1.5em, var(--text-color), 400 );
                    margin-bottom: auto;
                }
    
                .assessments__profile {
                    display: flex;
                    align-items: center;
    
                    .assessments__picture {
                        width: 8em;
                        margin-right: 1.6em;
                    }
    
                    .assessments__name {
                        @include text-setting( 3em, 1em, var(--title-color), 500 )
                    }
                }
            }
        }
    }
}

@media (max-width: 1439px) {
    #assessments {
        font-size: 7.5px;
    }
}

@media (max-width: 1099px) {
    #assessments {
        font-size: 5.625px;
    }
}

@media (max-width: 804px) {
    #assessments {
        font-size: 7px;
        width: 80%;

        #assessments__comments-container {

            #assessments__comments {

                .assessments__comment {
                    width: 100%;

                    &:nth-child(6) {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #assessments {
        font-size: 4px;
    }
}